* {
  font-size: 1.1rem;
}

html, body {
  min-height: 100%;
  background: white;
  /* background: #ECECEC; */
}

.App {
  text-align: center;
  margin: auto;
  max-width: 350px;
  height: 100vh;
  /* overflow: hidden; */
  /* -webkit-box-shadow: 0px 0px 19px 2px rgba(173,173,173,1);
  -moz-box-shadow: 0px 0px 19px 2px rgba(173,173,173,1);
  box-shadow: 0px 0px 19px 2px rgba(173,173,173,1); */
  border-radius: 10px;
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-style: normal;
  background: #ECECEC;
}

/* header section */

.header {
  background: #009BD1;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: left;
  align-items: center;
  padding: 0 1rem;
}

.header h1 {
  font-weight: 900;
}

a:hover {
  text-decoration: none;
  color: white;
}

.critterIcon {
  width: 45%;
  height: auto;
}

/* main section */

.main {
  max-width: 500px;
  padding: 0 2rem;
}

.critterPlant {
  max-width: 75%;
  height: auto;
}

.form-control {
  margin: 1rem auto;
}

button {
  background: #009BD1 !important;
  border: none !important;
  border-radius: 1rem !important;
}

input {
  background: white !important;
  border-radius: 1rem !important;
}

/* sign in section */
.sign-in {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in p {
  padding-top: 1rem;
  font-size: 0.9rem;
}

.sign-in button {
  font-size: 0.9rem;
}

/* Sign Up Page */
.signUpContainer h1 {
  padding: 0 2rem;
  margin-top: 2rem;
}

.signUpContainer p {
  padding: 0 1rem;
}

/* Login Page */
.login {
  padding: 0 2rem;
  padding-top: 3rem;
  max-width: 500px;
}

/* Create a Goal Page */
.createAGoal {
  padding: 0 2rem;
  padding-top: 3rem;
  max-width: 500px;
}

.firstInput {
  width: 75px;
}

.secondInput {
  width: 125px;
}

.thirdInput {
  width: 175px;
}

/* Profile Page */

.profilePage {
  background: url(./images/background-image.jpg) no-repeat center;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.profilePage h2 {
  padding-top: 1rem;
  font-weight: 600;
}

.profilePage button {
  color: white;
  padding: 0.2rem 1rem;
  margin: 0.2rem;
}

.circle-image {
  margin-top: 2rem;
  border: 5px solid white;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.headshot {
  width: auto;
  height: 100%;
}

/* Footer */
.footer {
  background: #009BD1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 350px;
  color: white;
  text-align: center;
}

.footerIcon {
  padding: 8px;
}

.footerIcon i, .footerIcon p {
  color: white;
}

/* Meet Pet */
.progress-bar {
  position: relative;
  background: rgb(196, 196, 196);
  height: 40px;
  width: 270px;
  border-radius: 1rem;
  margin: 0 auto;
  /* border: 1px solid rgb(116, 116, 116); */
}

.filler {
  background: rgb(71, 141, 92);
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

/* .goalBar {
  width: 80px;
  height: 0px;
  padding: .9em;
  text-align: center;
} */

.critterImg {
  width: 50%;
}

.meetPet input {
  margin-top: 0.5rem;
}

/* Log Run */
.logRun h3 {
  margin-top: 2rem;
}

.logRun input {
  width: 130px;
  margin-right: -2rem;
}

.logRun button {
  margin-top: 0.5rem;
  margin-left: -1.5rem;
}

/* Set Goal */
.setGoal input {
  width: 130px;
  margin-right: -2rem;
}

.setGoal button {
  margin-top: 0.5rem;
  margin-left: -2rem;
}

/* Run History */
.runHistory {
  overflow: visible;
  margin-bottom: 70px;
}

.runHistory .card-header {
  background: white;
}

.runHistory .card {
  background: #ECECEC;
}

.runHistory .border {
  border-color: white;
}